@model AlmoxarifadoViewer.Models.Produto

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CodigoSap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CodigoSap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Imagem4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Imagem4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProdutoId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
